@import url(base.css);
.nav {
    width: 100%;
    height: 79px;
    background: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #cccccc;
}
.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navList {
    width: 602px;
    height: 100%;
    float: right;
}
.navList li{
    float: left;
    width: 86px;
    height: 100%;
}
.navList li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition: color linear 0.1s;
}
.navList li a:hover{
    color: #16b0bc;
}
/*nav*/
.banner{
    width: 100%;
    height: 120px;
    background: #f1f1f1;
    padding-bottom: 10px;
    padding-top: 89px;
}
.banner p{
    line-height: 120px;
    font-size: 30px;
    color: #f67a82;
    text-align: center;
}
/*banner*/
.news{
    width: 100%;
    height: 750px;
    display: flex;
    background: #f1f1f1;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
}
.left{
    width: 720px;
    padding: 30px;
    float: left;
    background: white;
}
.box{
    width: 688px;
    padding: 10px 15px;
    border-bottom: 1px solid #e4eaec;
    /*width: 668px;*/
}
.boxImg{
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 10px;
}
.boxImg img{
    width: 100%;
    height: 100%;
}
.says{
    /*position: fixed;*/
}
.says h{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.says p{
    display: block;
    font-size: 14px;
    color: #76838f;
    margin-bottom: 11px;
}
.says pre{
    float: right;
    display: block;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}
.return{
    width: 620px;
    padding: 20px;
    border: 1px solid #cccccc;
    display: block;
    border-radius: 3px;
    margin-left: 40px;
    background: #f3f7f9;
}
.right{
    width: 330px;
    height: 400px;
    background: white;
    float: left;
    margin-left: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name,.tel,.email,.yanzheng,.submit{
    width: 300px;
    height: 26px;
    border: 1px solid #cccccc;
    padding: 6px 15px;
}
.suggest{
    width: 300px;
    height: 120px;
    border: 1px solid #cccccc;
    padding: 6px 15px;
}
.right input{
    width: 300px;
    height: 26px;
    background: white;
    border-color: white;
    margin: 0 auto;
    border: none;
    outline: none;
}